@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
}

header {
	height: 200px;
	background-color: #e5e5f7;
	opacity: 0.8;
	background: repeating-linear-gradient(
		45deg,
		#444cf7,
		#444cf7 5px,
		#e5e5f7 5px,
		#e5e5f7 25px
	);
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	border: 2px solid #dddddd;
	font-size: 25px;
	padding: 10px;
}

.todos-container {
	padding: 20px;
}

#todos {
	background-color: #fff;
	list-style: none;
}
.todo-item {
	padding: 15px 10px;
	border: 2px solid #dddddd;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

/* Completed todos styles*/
.todo-item.completed {
	cursor: not-allowed;
	background-color: #f1f0f0;
}

.todo-item.completed .todo-text {
	color: #c5c3c3;
	text-decoration: line-through;
}
/* End of completed todos styles */

.todo-item .todo-text {
	font-size: 20px;
}

.complete-todo,
.delete-todo {
	cursor: pointer;
	font-size: 20px;
	padding-left: 10px;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) {
	header {
		padding: 40px 30px;
	}

	.todos-container {
		padding: 20px 30px;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
	header {
		padding: 40px 150px;
	}

	.todos-container {
		padding: 20px 150px;
	}
}
